
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 20px;


}

.navbar .brand{
    font-weight: bold;
    font-size: 2.8rem;

}

.nav-links{
    display: flex;
    list-style: none;
   gap:30px;
   color: #424242;
   font-weight: 500;
   font-size: 1.2rem;

}
 .nav-item a{
  text-decoration: none;

}


@media screen and (max-width:576px){
    .navbar,
    .nav-links{
        flex-direction: column;
    }

    .navbar h3{
        margin-bottom: 20px;
    }
}




