
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}

/* header section */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 20px;


}

.navbar .brand{
    font-weight: bold;
    font-size: 2.8rem;

}

.nav-links{
    display: flex;
    list-style: none;
   gap:30px;
   color: #424242;
   font-weight: 500;
   font-size: 1.2rem;

}
 .nav-item a{
  text-decoration: none;

}


#hero{
   
 max-width: 1440px;
 margin: 0 auto;
}

#hero .hero-content{
    text-align: center;
    max-width: 862px;
    margin: 0 auto;
}

#hero .hero-content h1{
    color: #131313;
    font-weight: bold;
    font-size: 4rem;
    margin: 110px 0 30px 0;
}

#hero .hero-content p{
    color: #727272;
    font-size: 1rem;
    line-height: 26px;
    margin-bottom: 32px;
}

.btn-primary{
     background-color: #FF900E;
     color: #FFFFFF;
     font-size: 1.3rem;
     font-weight: 400;
     padding: 21px 24px;
     border-radius: 8px;
     border: none;
}

#hero .hero-image img{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 45px;
}

/* Features Section */
#features{
    
    
}

#features .features-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    padding-top: 85px;
    margin-bottom: 130px;

    justify-content: space-between;
    align-items: center;
}

#features  .features-image{
     
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
#features .features-image img{
    width: 100%;
}
#features .features-container .features-content{
    max-width: 537px;
}

.features-content p{
    color: #727272;
    font-size: 1rem;
    margin-bottom: 28px;

}

.features-content h2{
     font-size: 2.8rem;
}

.features-content h2 .quick{
    color:#727272;
    font-weight: normal;
}

.features-content h2 .our{
    color:#131313;
    font-weight: 600;
}

.features-content h2 .fe{
    color: #FF900E;
    font-weight: bolder;
}


/* love-features section */

.love-container{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
}

.love-title h1{
    color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
    max-width: 468px;
    margin-bottom: 24px;
}

.love-title p{
    color:#727272;
    font-size: 1rem;
    max-width: 586px;
    margin-bottom: 30px;
}

.love-box{
    display:grid;
    grid-template-rows: repeat(1,1fr);
    max-width: 586px;
    gap: 20px;

  
   
}

.love-box .box{
      /* border: 1px solid red; */
      padding:30px 42px 30px 30px ;
      border-radius: 8px;
      box-shadow: 0px 6px 50px #00000016;
}
.love-box .box h3{
    color: #131313;
    font-size: 1.3rem;
    font-weight: 600;

}
.love-box .box p{
        color: #727272;
        font-size: 1rem;
       line-height: 26px;
}

.love-image{
    position: relative;
    max-width: 708px;
}
.love-image img{
    width: 100%;

}

.experience-card{
    position: absolute;
    bottom: -40px;
    left: -30px;
    padding: 46px 42px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-radius: 8px;

}

.experience-card h2{
    font-weight: bold;
    font-size: 4.2rem;
}
.experience-card p{
    font-size: 1.3rem;
}











@media screen and (max-width:576px){
    .navbar,
    .nav-links{
        flex-direction: column;
    }

    .navbar h3{
        margin-bottom: 20px;
    }

    #hero .hero-image{
   
    }

    #features .features-container{
        flex-direction: column;
    }

    #features  .features-image{
        grid-template-columns: repeat(1,1fr);
    }
.love-container{
   flex-direction: column;
}
}

@media screen and (min-width:576px) and (max-width:992px){
 

}



